:root {
  --main-color-titles-color: #212121;
  --massive-text-color: #757575;
  --white-bg-color: #ffffff;
  --color-forces-color: #2196f3;
  --footer-background-color: #2f303a;
  --our-team: #f5f4fa;
}
/* основний колір заголовків| color: #212121 */
/* масивний текст| color: #757575 */
/* білий колір(фон,герой)| color: #FFFFFF */
/* колір силок| color: #2196F3 */
/* footer color (фон)| background: #2f303a  */
/* our team(фон) |background: #F5F4FA */
body {
  background-color: var(--white-bg-color);
  color: var(--massive-text-color);
  font-family: Roboto;
}
header {
  display: inline;
}
ul {
  list-style: none;
}
/* nav*/
.logo {
  color: var(--color-forces-color);
}
.logo-black {
  color: var(--main-color-titles-color);
}

.logo-white {
  color: var(--white-bg-color);
}

/*navigate*/
.site-nav .link {
  color: var(--main-color-titles-color);
}

.site-nav .link.current {
  color: var(--color-forces-color);
}
.site-nav {
  font-weight: 500;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--color-forces-color);
}

.section .section-title {
  color: var(--main-color-titles-color);
}

.button {
  color: var(--white-bg-color);
  background-color: var(--color-forces-color);
}
.team {
  background-color: var(--our-team);
}
/*portfolio navigate*/

.section .section-nav:hover,
.section .section-nav:focus {
  color: var(--white-bg-color);
  background-color: var(--color-forces-color);
}

/* footer*/

.background {
  background-color: var(--footer-background-color);
}
